<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
              <div class="nav">
                  <div class="sb-sidenav-menu-heading">Core</div>
                  <a class="nav-link" href="/">
                      <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                      Dashboard
                  </a>
                  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                    Books
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                  <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                      <nav class="sb-sidenav-menu-nested nav">
                          <a class="nav-link" href="/books/add">New Book</a>
                          <a class="nav-link" href="/books">Read Book</a>
                      </nav>
                  </div>

                  <div class="sb-sidenav-menu-heading">Control Panel</div>
                  <a class="nav-link" href="/users">
                      <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                      User List
                  </a>
                  <a class="nav-link" href="/permission">
                      <div class="sb-nav-link-icon"><i class="fas fa-fingerprint"></i></div>
                      Permission
                  </a>

                  <div class="sb-sidenav-menu-heading">Toolkit</div>
                  <a class="nav-link" href="/newpage">
                    <div class="sb-nav-link-icon"><i class="fas fa-file"></i></div>
                    New Page
                  </a>
              </div>
          </div>
          <div class="sb-sidenav-footer">
              <div class="small">Logged in as:</div>
              Start Bootstrap
          </div>
      </nav>
  </div>
